.container{
    width: 85%;
    display: flex;
    flex-direction: column;
}

.container picture img{
    width: 100%;
}

.detail-container{
    margin-top: 115px;
    display: flex;
}

.side-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
    margin-right: 10%;
}

.side-container .skills{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #5FB4A2;
}

.side-container h2{
    margin-top: 50px;
}

.side-container .body2{
    margin: 28px 0px;
}

.side-container .visit{
    margin-top: 32px;
    width: 178px;
}

.overview-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.overview-container h3{
    margin-bottom: 28px;
}

.overview-container .body2{
    margin-bottom: 40px;
}

.overview-container img:nth-of-type(1){
    margin-bottom: 32px;
}

.route-container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
    margin-bottom: 115px;
}

.route-container img{
    width: 8px;
    height: 16px;
}

.route-container .body1{
    opacity: 0.5;
}

.prev-route, .next-route{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    cursor: pointer;
}

.separator{
    position: 50%;
    border-right: 1px solid rgba(51, 50, 61, 0.15);
}

.prev-description{
    padding-left: 32px;
}

.next-description{
    padding-right: 32px;
}

@media screen and (max-width: 1110px) {
    .container{
        width: 90%;
    }

    .detail-container{
        flex-direction: column;
        margin-top: 40px;
    }

    .side-container{
        position: relative;
        margin-right: 0;
        height: 248px;
        margin-bottom: 40px;
    }

    .side-container h2{
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .side-container .body2{
        width: 50%;
        position: absolute;
        right: 0;
        top: 5%;
    }

    .side-container .skills{
        font-size: 13px;
    }

    .side-container .visit{
        margin-top: 16px;
    }

    .overview-container{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 83%;
    }

    .detail-container{
        flex-direction: column;
        margin-top: 40px;
    }

    .side-container{
        position:unset;
        height:fit-content;
        margin-bottom: 48px;
    }

    .side-container h2{
        margin-top: 24px;
        margin-bottom: 0px;
    }

    .side-container .body2{
        width: 100%;
        position:unset;
        margin: 24px 0px;
    }

    .side-container .skills{
        font-size: 13px;
    }

    .side-container .visit{
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .overview-container{
        width: 100%;
    }
}