*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.secondary-btn{
    width: 175px;
    margin-bottom: 50px;
}

.proj-container{
    width: 85%;
    height: 500;
    display: flex;
    margin-bottom: 80px;
}

.proj-container picture{
    width: 50%;
}

.proj-container img{
    width: 100%;
}

.proj-info{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0px auto;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
    
}

.proj-info h2{
    margin-top: 50px;
}

.proj-info .body1{
    margin: 28px 0px;
}

.contact-container{
    margin-top: 70px;
}

@media screen and (max-width: 1110px) {
    .proj-container{
        width: 90%;
    }

    .proj-container img{
        padding: 50px 0;
    }

    .proj-info{
        width: 40%;
        margin: 0;
        margin-left: auto;
    }

    .proj-info.left{
        margin-left: 0;
        margin-right: auto;
    }

    .proj-info .body1{
        font-size: 15px;
        line-height: 30px;
    }

    
}

@media screen and (max-width: 768px) {
    .proj-container{
        width: 83%;
        flex-direction: column;
    }

    .proj-container.left{
        flex-direction: column-reverse;
    }

    .proj-container picture{
        width: 100%;
    }

    .proj-container img{
        width: 100%;
        padding: 50px 0;
    }

    .proj-info{
        width: 100%;
        margin: 0;
        margin-left: auto;
    }

    .proj-info.left{
        margin-left: 0;
        margin-right: auto;
    }

    .proj-info .body1{
        font-size: 15px;
        line-height: 30px;
    }


    
}